@import "style/var.less";

@shape: 12px;

.Shape {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    &.show {
        cursor: move;
    }
    .point {
        position: absolute;
        width: @shape;
        height: @shape;
        border-radius: 50%;
        background-color: salmon;
    }
    .point-left-top {
        top: -(@shape / 2);
        left: -(@shape / 2);
        cursor: nwse-resize;
    }
    .point-right-top {
        right: -(@shape / 2);
        top: -(@shape / 2);
        cursor: nesw-resize;
    }
    .point-left-bottom {
        bottom: -(@shape / 2);
        left: -(@shape / 2);
        cursor: nesw-resize;
    }
    .point-right-bottom {
        bottom: -(@shape / 2);
        right: -(@shape / 2);
        cursor: nwse-resize;
    }

    .line {
        position: absolute;
        background-color: white;
    }
    .line-top {
        width: 100%;
        height: 1px;
        top: 0;
    }
    .line-left {
        height: 100%;
        width: 1px;
        left: 0;
    }
    .line-right {
        height: 100%;
        width: 1px;
        right: 0;
    }
    .line-bottom {
        width: 100%;
        height: 1px;
        bottom: 0;
    }
}